{
  "parser": "babel-eslint",
  "extends": "google",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module"
  },
  "globals": {
    "document": false,
    "navigator": false,
    "window": false
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "require-jsdoc": 0,
    "max-len": [2, {
      "code": 100
    }]
  }
}